.header {
  height: 88px;
  background-color: $white;

  @media (min-width: 1366px) {
    display: none;
  }

  &__container {
    padding: 19px 16px;
    display: flex;

    @media (min-width: 768px) {
      padding: 19px 24px;
    }
  }

  &__open-aside {
    margin-right: 16px;
    position: relative;

    @media (min-width: 768px) {
      margin-right: 42px;

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background: $whisper;
        top: 50%;
        right: -21px;
        transform: translateY(-50%);
      }
    }
  }

  &__logo {
    flex: 1 1 100%;
  }

  &__support {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      gap: 16px;
      margin-right: 42px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background: $whisper;
      top: 50%;
      left: -21px;
      transform: translateY(-50%);
    }
  }
}
