.prices {
  width: 100%;

  &__container {
    padding: 16px 16px 0 16px;

    @media (min-width: 768px) {
      padding: 24px 24px 0 24px;
    }

    @media (min-width: 1366px) {
      padding: 24px 32px 0 32px;
    }
  }

  &__list {
    background-color: $body;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    @media (min-width: 768px) {
      background-color: $white;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-bottom: none;
    padding: 16px;
    margin: 0;
    background-color: $white;
    border-radius: 6px;
    height: auto;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      border-radius: none;
      align-items: center;
      width: 100% !important;
      border-bottom: 1px solid $whisper;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__name {
    margin-bottom: 16px;

    @media (min-width: 768px) {
      min-width: 348px;
      margin-bottom: 0;
    }
  }

  &__cost {
    margin-bottom: 16px;
    @media (min-width: 768px) {
      min-width: 80px;
      margin: 0 auto;
    }
  }

  &__time {
    @media (min-width: 768px) {
      min-width: 90px;
      margin: 0 auto;
    }
  }

  &__btn {
    display: flex;
    min-width: 119px;
    height: 32px;
    border-radius: 16px;
    background: $pink;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }

    & img {
      margin-left: 8px;
    }
  }

  &__list-title {
    display: none;
    justify-content: space-between;
    padding: 24px 0;
    margin: 0 16px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__name-title {
    min-width: 348px;
  }

  &__cost-title {
    min-width: 80px;
    margin: 0 auto;
  }

  &__time-title {
    min-width: 90px;
    margin: 0 auto;
  }

  &__btn-title {
    display: flex;
    min-width: 119px;
  }

  &__info {
    max-width: 421px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__сommercial-offer {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__offer-link {
    color: $black;

    &:hover {
      color: $pink;
    }

    &:active {
      color: none;
    }
  }
}

.prices__item p {
  color: $grey;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  @media (min-width: 768px) {
    display: none;
  }
}

.swiper-prices {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-pagination-prices {
  text-align: center;
  margin-top: 16px;
}
