.repaired-types {
  width: 100%;

  &__container {
    padding: 16px 16px 0 16px;

    @media (min-width: 768px) {
      padding: 24px 24px 0 24px;
    }

    @media (min-width: 1366px) {
      padding: 24px 32px 0 32px;
    }
  }

  &__list {
    display: flex;
    row-gap: 16px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      transform: none !important;
      column-gap: 24px;
      padding-bottom: 0;
    }

    @media (min-width: 1120px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 32px;
    }
  }

  &__item {
    background-color: $white;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid $whisper;
    background: $white;

    @media (min-width: 768px) {
      width: auto !important;
    }
  }

  &__btn-go {
    align-self: flex-end;
  }

  &__read-more {
    padding-top: 24px;
    color: $black;
    font-weight: 500;
    letter-spacing: -0.2px;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__btn {
    color: $black;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}

.swiper-types {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-pagination-types {
  text-align: center;
  margin-top: 16px;
}
