$white: #fff;
$body: #F8F8F8;
$pink: #FF3E79;
$grey: #7E7E82;
$black: #1B1C21;
$mint: #B8FFEC;
$candiedSnow: #d9fff5;
$highlight: #41f6d7;
$whisper: #eaeaea;
$bombay: #B5B6BC;
$peppermintFrosting: #b8ffec;